.content {
	border: 1px solid #000;
	max-height: 100vh;
	overflow: auto;
	height: calc(100vh - 20px);

	&-inline {
		padding: 10px 10px 0 10px;
	}

	&-form-builder {
		border: 1px dashed gray;
		margin: 0 10px;
		padding: 10px 0;
		height: calc(100vh - 130px);
		overflow: auto;

		.ant-col.ant-form-item-label > label {
			width: 100%;
		}

		.actions {
			display: none;
		}

		:hover {
			.actions {
				display: block;
			}
		}
	}
}

.sidebar {
	border: 1px solid #000;
	padding: 10px;
	overflow: auto;
	height: calc(100vh - 20px);
}

.custom {
	border: 1px solid #000;
	padding: 10px;
	overflow: auto;
	height: calc(100vh - 20px);
}

.drag-item {
	border: 1px solid #000;
	padding: 10px;
	cursor: move;

	&-render {
		cursor: pointer;
	}
}

.cursor-pointer {
	cursor: pointer;
	transition: all 0.25s linear;

	&:hover {
		color: red;
	}
}
